a {
  color: #e71b74;
}

.MuiExpansionPanelDetails-root {
  /* TODO: override theme */
  display: inline !important;
  max-height: 300px;
}
.MuiCheckbox-root {
  padding: 0 !important;
}
.MuiExpansionPanel-root {
  background-color: rgb(240, 240, 240) !important;
}
